---
layout: home
title: Joshua Jacob
permalink: /
---
    <body>

        <div class="container">
            <div class="section col-md-12 col-md-offset-1" id="welcome">
                <h1 class="section-head" >Welcome</h1>
                <hr/>

                <div class="section-content">
                    <h2>My name is <strong>Josh Jacob</strong></h2>
                    <h3>I am a Computer Science student at Georgia Institute of Technology, orginally from <a href="https://www.youtube.com/watch?v=oZzgAjjuqZM" style="text-decoration:none; color:white;">Cleveland</a></h3>
                    
                </div>
            </div>
            <div class="section col-md-12 col-md-offset-1" id="about">
                <h1 class="section-head">About</h1>
                <hr/>
                <div class="section-content">
                    <h2>Interests</h2>
                    <table>
                        <ul class="bigger">
                            <li>
                                <h4><span class="lead bigger">I love competing in <a href="https://ctftime.org/ctf-wtf/" style="text-decoration:none; color:gray;">Capture the Flag</a> competitions, some notable ones include:</span></h4>
                                    <ul>
                                        <li>
                                            PACTF 2017 (Buzz3d) - 21 / 838 Teams
                                        </li>
                                        <li>
                                            GreyH@t CTF 2017 (NEOCTF) - 1 / 15 Teams
                                        </li>
                                        <li>
                                            <a href="https://github.com/jacobj10/HSCTFIII-Writeup" class="strip">HSCTF III</a> (NEOCTF) - 21 / 500+ teams
                                        </li>
                                        <li>
                                            TJCTF 2016 (NEOCTF) - 19 / 500+ teams
                                        </li>
                                    </ul>
                            </li>
                            <li>
                                <h4><span class="lead bigger">I also enjoy <a href="https://hackerone.com/joshualaurencio" style="text-decoration:none; color:gray;">Bug Bounty Hunting</a></span></h4>
                                    <ul>
                                        <li>
                                            The only public-facing bounty I've got so far is was for the <a href="https://hackerone.com/reports/196482" style="text-decoration:none; color:gray">Dept. of Defense</a>.
                                        </li>
                                        <li>
                                            Unfortunately, most of the other things I have found in the wild cannot be disclosed.
                                        </li>
                                    </ul>
                            </li>
                            <li>
                                <h4><span class="lead bigger">I do try my hand at <a href="https://www.amazon.com/Code-Book-Science-Secrecy-Cryptography/dp/0385495323" style="text-decoration:none; color:gray">Cryptography</a> as well</span></h4>
                                    <ul>
                                        <li>
                                            I am proficient with basic ciphers, as well as attacks like Frequency and Kasiski analysis.
                                        </li>
                                        <li>
                                            I also love working with public key crypto, and am currently developing a robust RSA cracking tool called <a href="https://github.com/jacobj10/CrackMyARS" style="text-decoration:none; color:gray">CrackMyARS</a>
                                        </li>
                                    </ul>
                            </li>
                            <li>
                                <h4><span class="lead bigger">Finally, I really like just <a href="https://github.com/jacobj10" style="text-decoration:none; color:gray;">Writing Software</a></span></h4>
                                    <ul>
                                        <li>
                                            I've written things for industry, and contributed to applications such as  <a href="https://github.com/securestate/king-phisher" style="text-decoration:none; color:gray;">KingPhisher</a></span></h4>
                                        </li>
                                        <li>
                                            I made a multi-object tracking system that implements the Hungarian algorithm for <a href="http://ecocar3.org/georgiatech/about-us/" style="text-decoration:none; color:gray;">EcoCAR</a>
                                        </li>
                                        <li>
                                            I love participating in hackathons, and recently got first prize at AeroHacks with our project: <a href="https://github.com/jacobj10/super-solar" style="text-decoration:none; color:gray">Super Solar</a>
                                        </li>
                                    </ul>
                            </li>
                        </ul>
                    </table>
                    <h2>Skills</h2>
                    <table>
                        <ul class="bigger">
                            <li>
                                <span class="bigger">Languages - </span> Python, Java, C++, C, HTML/CSS, JavaScript, Bash
                            </li>
                            <li>
                                <span class="bigger">Tools - </span> Gtk, MATLAB, PostgreSQL, Scapy, OpenCV, Node.js, Git, MongoDB, vPython, Android Studio, Flask
                            </li>
                            <li>
                                <span class="bigger">Operating Systems - </span> macOS, Windows, Linux (Ubuntu, Kali, Fedora, Arch)

                            </li>
                        </ul>
                    </table>
                    <h2>The Other Things</h2>
                    <h4>(the things that make me not a robot)</h4>
                    <table>
                        <ul class="bigger">
                            <li>
                                <span class="bigger">Soccer - I'm a huge Liverpool fan and I love to play #YNWA</span>

                            </li>
                            <li>
                                <span class="bigger">Music - I play the piano and violin in my free time!</span>
                            </li>
                            <li>
                                <span class="bigger">Video Games - Ehh. You can add me on <a href="http://steamcommunity.com/profiles/76561198055897316" style="text-decoration:none; color:gray;">steam</a>, I guess</span>
                            </li>
                        </ul>
                    </table>
                </div>
            </div>

        </div>
        <div class="container">
            <div class="section col-md-12 col-md-offset-1" id="blog">
                <h1 class="section-head">Blog</h1>
                <hr/>

                <div class="section-content">
                    <h2>Blurbs about soccer, CS, and life I guess...</h2>
                    {% assign num_members = -1 %}
                    {% assign per_row = 3 %}
                    {% for section in site.posts %}
                        {% assign num_members = num_members | plus: 1 %}
                        {% assign mod = num_members | modulo:per_row %}
                        {% if mod == 0 %}
                         <div class="row">
                        {% endif %}
                        <div class="col col-lg-4 col-md-4 col-sm-12 tile">
                            <h1><a  class="blog-url" href="{{section.url}}">{{section.title}}</a></h1>
                            <h4>{{ section.date | date_to_string }}</h4>
                        </div>
                        {% assign compare = per_row | minus:1 %}
                        {% if mod == compare or forloop.last %}
                        </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="container">
            <div class="section col-md-12 col-md-offset-1" id="contact">
                <h1 class="section-head">Contact Me</h1>
                <hr/>
                <div class="section-content">
                    <h2>Don't be afraid to reach out!</h2>
                    <div class="row">
                    <h3 class="col-md-3">School: jjacob36@gatech.edu</h3>
                    <h3 class="col-md-4">Personal: joshualuarencio@gmail.com</h3>
                    <h3 class="col-md-3">Fun: lolcopter@binkmail.com</h3>
                    </div>
                </div>
            </div>
        </div>            

    </body>
