        <section id="sidebar">
            <h2 class="text-center">Joshua Jacob</h2>
            <image class="artsy img-responsive img-circle" src="images/me.jpg"></image>
            <h2 class="text-center"><span id="nouns"></span></h2>
                <div class="noun" style="display:none"><h1>Developer</h1></div>
                <div class="noun" style="display:none"><h1>Security Enthusiast</h1></div>
                <div class="noun" style="display:none"><h1>LFC Fan</h1></div>
                <div class="noun" style="display:none"><h1>Bug Bounty Hunter</h1></div>

                <nav>
                    <ul>
                        <li><a href="#welcome">Welcome</a></li>
                        <li><a href="#about">About</a></li>
                        <li><a href="#blog">Blog</a></li>
                        <li><a href="#contact">Contact</a></li>
                    </ul>
                </nav>
                <div class="row logos">
                    <a href="https://github.com/jacobj10"><img class="col-md-3 logo" src="images/gh.png"/></a>
                    <a href="https://www.linkedin.com/in/joshua-jacob-88a25a127/"><img class="col-md-3 logo" src="images/linkedInLogo.png"/></a>
                    <a href="https://hackerone.com/joshualaurencio"><img class="col-md-3 logo" src="images/hackerOne.jpg"/></a>
                    <a href="https://keybase.io/jacobj10"><img class="col-md-3 logo" src="images/keybase.png"/></a>
                </div>
            </div>
        </section>
