body {
    background: #EFE6DD;
    color: #231F20;
}

.title-section {
  margin-top: 3%;
}

.icons > span > a {
    font-size: 2em;
}

.icons > span {
    margin-right: 1em;
}

a {
  color: #231F20;
}
