<!DOCTYPE html>
<html lang="en">
    {% include head.html %}
    <body>
      <!-- Use noscript version of Google Analytics because I am vain but woke. -->
      <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-M3J57ZB"
      height="0" width="0" style="display:none;visibility:hidden"></iframe>
      {{content}}
      <div class="container icons">
        <span><a href='m&#97;&#105;&#108;to&#58;%6Aos&#104;u&#97;la&#37;&#55;5&#37;&#55;&#50;en%63&#105;%6F&#64;g%&#54;Da&#105;%6C%2&#69;c%6&#70;m'><i class="fa fa-envelope-o" aria-hidden="true"></i></a></span>
        <span><a href="https://www.linkedin.com/in/joshua-jacob-88a25a127/"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></span>
        <span><a href="https://github.com/jacobj10"><i class="fa fa-github" aria-hidden="true"></i></a></span>
      </div>
      <div class="container">
        <h5>
          This website, sans <code>/csrf</code> is Javascript free. I am using the <code>noscript</code>
          version of Google analytics to see if anyone actually cares where I work (hint: no one does).
        </h5>
      </div>
    </body>

</html>
